.header-main {
  height: 90px
}

#logo img {
  max-height: 90px
}

#logo {
  width: 200px
}

.header-bottom {
  min-height: 35px
}

.header-top {
  min-height: 30px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
  padding-top: 170px
}

.header.show-on-scroll,
.stuck .header-main {
  height: 70px!important
}

.stuck #logo img {
  max-height: 70px!important
}

.search-form {
  width: 85%
}

.header-bg-color,
.header-wrapper {
  background-color: #FFF
}

.header-bottom {
  background-color: #FFF
}

.header-bottom-nav>li>a {
  line-height: 32px
}

@media (max-width: 549px) {
  .header-main {
      height: 70px
  }
  #logo img {
      max-height: 70px
  }
}

.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
  color: #CE5400
}

[data-text-color="primary"] {
  color: #CE5400!important
}

.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
  background-color: #CE5400
}

.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
  border-color: #CE5400
}

.nav-tabs>li.active>a {
  border-top-color: #CE5400
}

.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
  fill: #CE5400
}

[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button {
  background-color: #0091ce
}

.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
  color: #0091ce
}

[data-text-color="secondary"] {
  color: #0091ce!important
}

.secondary.is-outline:hover {
  border-color: #0091ce
}

body {
  font-family: "Open Sans", sans-serif
}

body {
  color: #777
}

.nav>li>a {
  font-family: "Open Sans", sans-serif
}

.nav>li>a {
  font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
  font-family: "Arvo", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
  color: #555
}

.alt-font {
  font-family: "Dancing Script", sans-serif
}

@media screen and (min-width: 550px) {
  .products .box-vertical .box-image {
      min-width: 247px!important;
      width: 247px!important
  }
}

.footer-1 {
  background-color: #EFEFEF
}

.footer-2 {
  background-color: #FFF
}

.absolute-footer,
html {
  background-color: #FFF
}

.page-title-small+main .product-container>.row {
  padding-top: 0
}

.label-new.menu-item>a:after {
  content: "New"
}

.label-hot.menu-item>a:after {
  content: "Hot"
}

.label-sale.menu-item>a:after {
  content: "Sale"
}

.label-popular.menu-item>a:after {
  content: "Popular"
}